body {
    margin: 15% 10%;
}

.meta { text-align: center;}

.meta img {
    position: relative;
    margin: 30px 5px auto;
    height: 400px;
    width: 70%;
    align-items: center;
    display: inline-block;
}

img {
    position: relative;
    margin: 30px auto;
    display: block;
    height: 5%;
    width: 70%;
}

.caption {
    color: #737070;
    font-size: 14px;
    margin: 5px 10px auto;
    display: block;
    text-align: center;
}

.meta img:hover { transition: 0.30s ease;  transform: scale(1.1); }

.article-container figure.meta {
  margin: 1rem 0 1.5rem;   /* space below the image */
}

.article-container figure.meta img {
  display: block;          /* removes image’s inline gap */
  width: 100%;
  height: auto;
  border-radius: 8px;      /* optional */
}

.article-container p + p {
  margin-top: 1rem;        /* space between paragraphs */
}

.article-container .meta {
  margin: 24px 0 62px !important;     /* creates the gap below the image */
}

.article-container h1 { 
    color: #38a3a5;
    text-align: left;
    line-height: 1.5;
} 

.article-container .title.t-2 {
    color: #168aad;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

.article-container .title.t-3 {
    color: #577590;
    text-align: left;
    margin-bottom: 10px;
}
.article-container .title.t-4 {
    color: #023e8a;
    text-align: left;
    margin-bottom: 10px;
    font-size: 30px;
}

.article-container .subtitle.s-5 {
    color: #ffe5d9;
    letter-spacing: 0.6px;
    font-size: 20px;
    margin-left: 5px;
    margin-bottom: 10px;
}

.article-container ul {
    color: #ffe5d9;
    letter-spacing: 0.9px;
    margin: 0 0 1rem;      /* space below the list */
    padding-left: 2rem; /* indent bullets */
    /* list-style: disc; */
}

.article-container ul li + li {
  margin-top: .4rem;     /* space between items */
}

.article-container ol {
    color: #ffe5d9;
    letter-spacing: 0.9px;
    margin: 0 0 1rem;      /* space below the list */
    padding-left: 2rem; /* indent bullets */
}

.article-container ol li + li {
    margin-top: .4rem;     /* space between items */
}


p { 
    color: #ffe5d9;
    letter-spacing: 0.6px;
    line-height: 1.7;
}

/* ul { color: rgb(147, 174, 174);}  */

ol { color: rgb(210, 210, 181)}

/* .article-list { color: whitesmoke}

.article-item { color: antiquewhite;} */







