

<!-- MULTI-LINE CODE BLOCK -->
<div class="codebox">
  <button class="copy-btn" data-copy-target="#code-install" aria-label="Copy code"><ion-icon name="copy-outline"></ion-icon></button>
  <pre><code id="code-install">
    npm install -g @graphprotocol/graph-cli
    graph init --from-contract 'CONTRACT_ADDRESS' --network mainnet
    cd 'subgraph-name'
  </code></pre>
</div>


<!-- SINGLE-LINE SNIPPET -->
<div class="copyline">
  <code id="code-rpc">graph deploy --studio my-subgraph</code>
  <button class="copy-btn" data-copy-target="#code-rpc" aria-label="Copy line"><ion-icon name="copy-outline"></ion-icon></button>
</div>

<!---INLINE CODE SNIPPET OR FILE-PATH OR REFERENCE-->
<code class="inline-snippet">C:\Users\{username}\AppData\Local\Programs\Microsoft VS Code</code>.

<!---YOUTUBE VIDEO IN-PAGE POPUP-->
<h5 class="subtitle s-5">Watch Video Tutorial for step-by-Step Walkthrough</h5>
  <div class="video-frame">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Z5RVfh3mlZ0?si=bP6HPVyNevvFnn-8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>





<!------ BIG --------->
.quintessential-regular {
  font-family: "Quintessential", serif;
  font-weight: 400;
  font-style: normal;
}

<!------ HEADERS --------->
.poiret-one-regular {
  font-family: "Poiret One", sans-serif;
  font-weight: 400;
  font-style: normal;
}


<!------ REGULAR --------->
.alumni-sans-pinstripe-regular {
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.alumni-sans-pinstripe-regular-italic {
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lavishly-yours-regular {
  font-family: "Lavishly Yours", cursive;
  font-weight: 400;
  font-style: normal;
}


.imperial-script-regular {
  font-family: "Imperial Script", cursive;
  font-weight: 400;
  font-style: normal;
}

