

<!-- MULTI-LINE CODE BLOCK -->
<div class="codebox">
  <button class="copy-btn" data-copy-target="#code-install" aria-label="Copy code">
    <ion-icon name="copy-outline"></ion-icon>
  </button>

  <pre><code id="code-install">
npm install -g @graphprotocol/graph-cli
graph init --from-contract 'CONTRACT_ADDRESS' --network mainnet
cd 'subgraph-name'
  </code></pre>
</div>


<!-- SINGLE-LINE SNIPPET -->
<div class="copyline">
  <code id="code-rpc">graph deploy --studio my-subgraph</code>
  <button class="copy-btn" data-copy-target="#code-rpc" aria-label="Copy line">
    <ion-icon name="copy-outline"></ion-icon>
  </button>
</div>

